<div class="flex justify-between rounded-t-xl h-[49px] bg-[var(--color-background-dark)] rounded-tl-2xl rounded-tr-2xl overflow-hidden">
  <%= render "components/bottom_bar_item", icon: "home", label: "Accueil", active: false %>
  <%= render "components/bottom_bar_item", icon: "star", label: "Résultats", active: false %>
  <%= render "components/bottom_bar_item", icon: "chart-bar", label: "Classement", active: false %>
  <%= render "components/bottom_bar_item", icon: "user", label: "Profil", active: true %>
</div>