<% icon ||= "home" %>
<% label ||= "Label" %>
<% active ||= false %>
<% active_class = active ? "fill-[var(--color-border)]" : "" %>

<!--Large-->
<div class="items-center justify-between w-full inline-flex bg-[var(--color-background-dark)] py-2">
    <div id="left-content" class="self-stretch inline-flex justify-start items-center gap-2 pl-4">
        <%= render "components/dot_indicator", size: "xsmall", background_color: "var(--color-neutral-50)", outline_color: "var(--color-neutral-50)" %>
        <div class="w-6 h-6 relative overflow-hidden flex items-center justify-center">
            <%= inline_svg "icons/hero/outline/#{icon}.svg", class: "w-[18px] h-[18px] text-white #{active_class}" %>
        </div>  
        <div class="text-white text-sm font-medium font-['HeuvelGrotesk'] mt-1">Label</div>
    </div>
    <div id="right-content" class="pr-2">
        <div class="text-white text-sm font-medium font-['HeuvelGrotesk'] hidden"></div><!--Notification System - Unused for now-->
        <div class="w-6 h-6 relative overflow-hidden flex items-center justify-center">
            <%= inline_svg "icons/hero/outline/chevron-down.svg", class: "w-[18px] h-[18px] text-white #{active_class}" %><!--Down arrows most of the time-->
        </div>
    </div>
</div>

<!--Medium-->

<!--Small-->